.navegador{
    display:flex ;
    background-color: beige;

}
.navegador ul li{
    list-style-type: none;
    display: flexbox;
    margin: 0;
    padding: 0;
    color: bisque;

}
.navegador .buscar{
    margin-left: auto;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #9c9c9c;
}
.navegador button{
    margin-left: auto;
    margin-bottom: 2px;
    margin-top: 2px;
    border-radius: 5px;

}
.navegador input[type="text"]{
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;

}
.navegador img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
    border-radius: 5px;
}
.navegador .buscar img {
    width: 20px;
    height: 20px;

}
.contenedor .informacion1{
    display: flex;
    text-align: left;
    


}
 .informacion1 .texto1{
    color: grey;
    width: auto;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;

}
.texto2{
    color: black;
}

.informacion1 .centro {
    text-align: center;
    padding: 20px;
display: flex;
    
}
.informacion1 .centro img{
 width:200px ;
 margin-left: 80px;
 
 

}
.informacion1 .centro p{
    flex: 1;
    text-align: center;
    padding-top: 25px;
    padding-left: 30px;
    margin-right: 300px;

}
.parrafo2{
    text-align: center;
}

.informacion1.informacion2 p{
    text-align: right;
}

