
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #05c4b1;
    color: white;
    text-align: left;
    padding: 10px ;
    display: flex;
   
    
}
header ul {
    list-style-type: none;
    display: flex;
  
}
header ul li{
    padding-right: 20px;
}

main {
    display: flex;
    justify-content: space-between;
    
}

.formulario {
    flex: 1;
    background-color: #05c4b1;
    padding: 2px;
}

.adicional {
    flex: 1;
    background-color: #05c4b1;
    padding: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}



#resul {
    width: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
