.cbp-mc-form {
	position: relative;
    
}


.cbp-mc-form:before, 
.cbp-mc-form:after { 
	content: " "; display: table; 
    
}

.cbp-mc-form:after { 
	clear: both;
     
    
}

.cbp-mc-column {
	width: 44%;
	padding: 10px 30px;
	float: left;
    height: 400px;
}
.text-large{
    font-size: 50px;
    color: #002fff;;
}
.text-p{
    width: 430px;
}
.link{
    align-content: center;
}
.text-small{
    font-size: 11px;
    text-align: center;
}
.container{
    background-color: #edf1ff;
    width: 1400px;
    height: 650px;
}
.text-smaall{
    font-size: 13px;
}
.text-a{
    align-content: center;
    text-align: center;
}