.bg-color{
    background: #DBD3D1;
}
.bg-color2{
    background: #F1DFC9;
}
.border1{
    border: #5F4036;
}
.bg-color1{
    background-color: #97484E;
}
.text-small{
    font-size: 10px;
}
.bg-color3{
    color:#9CB390;
}
.bg-color4{
    color:#97484E;

}
.wit{
    width: 40%;
}
.wit1{
    width: 100%;
}
.wit2{
    width: 400px;
}
.wit3{
    width: 70px;
}